body
{
    background: green ;
    font-family: 'Times New Roman', Times, serif;
}
.assignment
{
    display:flex;
    padding:10px;
    margin 10px;
    background: lightgray;
}
.assignment img
{
    width:200px;
    padding:10px;
}
h1
{
    color: beige;
    text-align:center;
}
